<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--
    Set the base to / for dev with https://github.com/http-party/http-server/
    <base href="/">
    -->
    <base href="/joker-poker/">
    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="JPoker">
    <meta name="apple-mobile-web-app-title" content="JPoker">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="https://github.com/culmat/joker-poker/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/svg+xml" href="https://culmat.github.io/joker-poker/joker-poker-logo.png">
    <link rel="apple-touch-icon" type="image/svg+xml" href="https://culmat.github.io/joker-poker/joker-poker-logo.png">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <title>Joker Poker</title>


  </head>
  <body>

    <div id="app">
    <v-app>
      <div>
          <v-app-bar
            color="deep-purple accent-4"
            dark
          >
            <v-icon>{{pageIcon}}</v-icon>
            <v-toolbar-title>&nbsp;{{session.name}}</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-chip :color="connected ? 'green' : 'grey'">Connected</v-chip>

            <v-menu
            left
            bottom
          >
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-item
                v-for="n in pages"
                :key="n"
                @click="(e) => {navigate(n[0],n[1]);}"
              >
              <v-list-item-action>
                  <v-icon :color="page == n[0] ? 'blue darken-2': ''">{{n[1]}}</v-icon>
                </v-list-item-action>

                <v-list-item-title>{{ n[0] }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

          </v-app-bar>
        </div>


                      <v-content>
                        <v-row justify="center">
                                <v-dialog v-model="dialog" persistent max-width="600px">
                                  <v-card>
                                    <v-card-title>
                                      <span class="headline">Join or create session</span>
                                    </v-card-title>
                                    <v-card-text>
                                      <v-container>
                                        <v-row>
                                          <v-col cols="12">
                                            <v-text-field v-model="sessionIdInput" label="Session ID" required></v-text-field>
                                          </v-col>
                                        </v-row>
                                      </v-container>
                                    </v-card-text>
                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn color="blue darken-1" text @click="dialog = false;join(false)" :disabled="sessionIdInput == ''">Join</v-btn>
                                      <v-btn color="blue darken-1" text @click="dialog = false;join(true)">Create</v-btn>
                                    </v-card-actions>
                                  </v-card>
                                </v-dialog>
                              </v-row>

                    <div v-if="page =='Team'">
                      <v-text-field v-model="messageInput" label="Message"></v-text-field>
                      <v-btn color="blue darken-1" text @click="send()">send</v-btn>
                      <br/>
                      <pre>{{lastMessage}}</pre>

                    </div>
                    <div v-if="page =='Settings'" >

                      <v-card >

                      <v-card-title>Session</v-card-title>
                      <v-card-text>
                      <v-form>
                        <v-text-field @change="sessionChange()"
                            v-model="session.name"
                            label="Name"
                            required
                          ></v-text-field>
                        <v-text-field
                            v-model="sessionId"
                            label="ID"
                            required
                            disabled
                          ></v-text-field>
                      <v-form>
                      </v-card-text>
                      </v-card>

                      <v-card >

                      <v-card-title>Cluster state</v-card-title>
                      <v-card-text>
                      <v-form>
                        <v-text-field
                            v-model="yaiID"
                            label="ID"
                            required
                            disabled
                          ></v-text-field>
                          <v-switch v-model="isLeader" class="ma-2" disabled label="this node is leader"></v-switch>
                          <v-text-field
                              v-model="clusterState.leader"
                              label="leader"
                              required
                              disabled
                            ></v-text-field>
                          <v-select
                              v-model="clusterState.nodes"
                              :items="clusterState.nodes"
                              label="nodes"
                              multiple
                              chips
                              persistent-hint
                              disabled
                            ></v-select>

                      <v-form>
                      </v-card-text>
                      </v-card>
                    </div>
                    <div v-if="page =='Me'">
                      This is me.
                    </div>
                    </v-content>
    </v-app>
    </div>

    <script src="https://baloise.github.io/MobRank/youandi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    <script src="joker-poker.js"></script>

  </body>

</html>
